a {
  text-decoration: none;
  color: darkorange;
}

h4 {
    font: 16px Raleway, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    width: 20%;
    color:darkorange;
    margin-left: 5%;
}

header img {
    width: 100%;
}

nav {
    width: 50%;
    display: inline-block;
    margin-left: 20%;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  font: 12px Raleway, sans-serif;
  text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
}

h1 {
    font: 48px Raleway, sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
}

h2 {
    font: 42px Raleway, sans-serif;
    text-align: center;
    font-weight: normal;
}

h3 {
    font: 24px Raleway, sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: -10px;
}
.part1 {
    font-weight: bold;
}
.part2 {
    color: darkorange;
}
.part3 {
    font-weight: normal;
}

/*Found this info on http://www.w3schools.com/css/css3_buttons.asp*/

button {
    background-color: darkorange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    -moz-box-align: center;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color:black; 
    color: white;
}